<h2>Mi Perfil</h2>

<div *ngIf="usuario" style="padding-left: 30px; padding-right: 30px;">
  <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
  <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
  <!-- Aquí puedes mostrar más detalles del usuario si es necesario -->
  
  @if (usuario.userType === "especialista") {
    <h3>Mis Horarios</h3>

    <div class="inputBox">
      <label for="fecha">Especialidad:</label>
      <select name="especialidad" ngModel required (change)="onEspecialidadElegida($event)">
          <option value="" disabled selected style="color: #838383;">Selecciona la especialidad</option>
          <option *ngFor="let especialidad of especialidades; index as i" [value]="i">{{ especialidad.nombre }}</option>
      </select> 
      <i></i>
    </div>

    @if (especialidadElegida != -1) {
      <div class="tabla-container">
        <table class="table">
          <thead>
            <tr>
              <th>Día</th>
              <th>Hora Inicio</th>
              <th>Hora Fin</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let horario of horarios; let i = index;">
              <td><input type="text" [(ngModel)]="horario.dia" class="form-control"></td>
              <td><input type="text" [(ngModel)]="horario.horaInicio" class="form-control"></td>
              <td><input type="text" [(ngModel)]="horario.horaFin" class="form-control"></td>
              <td>
                <button type="button" class="btn-accion rojo" (click)="eliminarHorario(i)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
    
        <button style="margin-bottom: 20px;" type="button" class="btn-accion" (click)="agregarHorario()">Agregar Horario</button>
        <button style="margin-bottom: 20px;" type="button" class="btn-accion verde" (click)="guardarHorarios()">Guardar Horarios</button>
      </div>
    }
  }
  
  
</div>

<div *ngIf="!usuario">
  <p>No se encontró información del usuario.</p>
</div>
